{% extends 'core/base.html' %}
{%load static %}
{% block content %}
<div class=" text-center">
  <div class="text-center"> 
     <img src="{% static 'core/image/1693313052739.jpg' %}" alt="profilepic"
    class="img-thumbnail" width="250px" height="150px">
  </div>  
<div class="mt-5 text-white mx-5 text-justify">
 <h1 class="font-weight-bold st-font">Hello,</h1>
 <div class="px-4" style="line-height:2rem;">
    <p style="text-indent:100px;">I am <b
        class="text-warning">Ankit kumar</b>having 5 years of full stack web development experience for 
        global business, I offer thr technical expertise you are seeking for your web devolper position</p>
    </div> 
 </div>
 <div class="text center">
 <a href="" class="btn btn-outline-warning my-3 mr-5">Hire me</a>
 <a href="" class="btn btn-outline-info my-3">Contact</a>
 </div>
</div>    
{% endblock content %}
