{% extends 'core/base.html' %}
{% block content%}
<div class="container">
   
<div class="container mt-5">
    <h1class="text-warning mb-5 border-bottom">SERVICES</h1>

    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fa-light fa-magnifying-glass-dollar fa-2x mb-3 i-color"></i>
            <h3>SEO</h3>
            <p class=".ss-color">Lorem ipsum dolor sit amet consectetur aipisicing elit.
                Tempora, neque.</p>
        </div>
        <div class="col-sm-4">
            <i class="fa-light fa-palette fa-2x mb-3 i-color"></i>
            <h3>Web Design</h3>
            <p class=".ss-color">Lorem ipsum dolor sit amet consectetur aipisicing elit.
                Tempora, neque.</p>
        </div>
        <div class="col-sm-4">
            <i class="fa-light fa-code fa-2x mb-3 i-color"></i>
            <h3>Web Development</h3>
            <p class=".ss-color">Lorem ipsum dolor sit amet consectetur aipisicing elit.
                Tempora, neque.</p>
        </div>
    </div>

    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fab-light fa-android fa-2x mb-3 i-color"></i>
            <h3>Android</h3>
            <p class=".ss-color">Lorem ipsum dolor sit amet consectetur aipisicing elit.
                Tempora, neque.</p>
        </div>
        <div class="col-sm-4">
            <i class="fab-light fa-apple fa-2x mb-3 i-color"></i>
            <h3>iOS</h3>
            <p class=".ss-color">Lorem ipsum dolor sit amet consectetur aipisicing elit.
                Tempora, neque.</p>
        </div>
        <div class="col-sm-4">
            <i class="fa-light fa-ad fa-2x mb-3 i-color"></i>
            <h3>Advertising</h3>
            <p class=".ss-color">Lorem ipsum dolor sit amet consectetur aipisicing elit.
                Tempora, neque.</p>
        </div>
    </div>

    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fa-light fa-pencil-alt fa-2x mb-3 i-color"></i>
            <h3>Logo Design</h3>
            <p class=".ss-color">Lorem ipsum dolor sit amet consectetur aipisicing elit.
                Tempora, neque.</p>
        </div>
        <div class="col-sm-4">
            <i class="fa-light fa-database fa-2x mb-3 i-color"></i>
            <h3>Hosting</h3>
            <p class=".ss-color">Lorem ipsum dolor sit amet consectetur aipisicing elit.
                Tempora, neque.</p>
        </div>
        <div class="col-sm-4">
            <i class="fa-light fa-headset fa-2x mb-3 i-color"></i>
            <h3>Support</h3>
            <p class=".ss-color">Lorem ipsum dolor sit amet consectetur aipisicing elit.
                Tempora, neque.</p>
        </div>
    </div>
</div>
{% endblock content%}