{% extends 'core/base.html' %}
{% block content%}
<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">Skill</h1>

<div class="row text-white">
    <div class="col-sm-5">
        <h3 class="mt-5">HTML/CSS</h3>
        <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar"
            style="width:100%" aria-valuenow="100" ariaivaluemin="0"
            aria-valuemax="100">100%</div>
        </div>
    </div>
    <div class="col-sm-5">
        <h3 class="mt-5">Django</h3>
        <div class="progress">
            <div class="progress-bar progress-bar-striped
            progress-bar-animated" role="progressbar"
            style="width:95%" aria-valuenow="95" ariaivaluemin="0"
            aria-valuemax="100">95%</div>
        </div>
    </div>
    <div class="col-sm-5">
        <h3 class="mt-5">Java programming</h3>
        <div class="progress">
            <div class="progress-bar progress-bar-striped
            progress-bar-animated" role="progressbar"
            style="width:90%" aria-valuenow="90" ariaivaluemin="0"
            aria-valuemax="100">90%</div>
        </div>
    </div>
    <div class="col-sm-5 offset-sm-2">
        <h3 class="mt-5">Python</h3>
        <div class="progress">
            <div class="progress-bar progress-bar-striped
            progress-bar-animated" role="progressbar"
            style="width:95%" aria-valuenow="95" ariaivaluemin="0"
            aria-valuemax="100">95%</div>
        </div>
    </div>
    <div class="col-sm-5">
        <h3 class="mt-5">SQL</h3>
        <div class="progress">
            <div class="progress-bar progress-bar-striped
            progress-bar-animated" role="progressbar"
            style="width:80%" aria-valuenow="80" ariaivaluemin="0"
            aria-valuemax="100">80%</div>
        </div>
    </div>
    <div class="col-sm-5">
        <h3 class="mt-5">Dart</h3>
        <div class="progress">
            <div class="progress-bar progress-bar-striped
            progress-bar-animated" role="progressbar"
            style="width:85%" aria-valuenow="85" ariaivaluemin="0"
            aria-valuemax="100">85%</div>
        </div>
    </div>
    <div class="col-sm-5 offset-sm-2">
        <h3 class="mt-5">Java</h3>
        <div class="progress">
            <div class="progress-bar progress-bar-striped
            progress-bar-animated" role="progressbar"
            style="width:30%" aria-valuenow="95" ariaivaluemin="0"
            aria-valuemax="30">30%</div>
        </div>
    </div>
    <div class="col-sm-5">
        <h3 class="mt-5">Django</h3>
        <div class="progress">
            <div class="progress-bar progress-bar-striped
            progress-bar-animated" role="progressbar"
            style="width:80%" aria-valuenow="80" ariaivaluemin="0"
            aria-valuemax="100">80%</div>
        </div>
    </div>


</div>

</div>




{% endblock content%}